In [2]:
print 'hello. This is a Jupyter notebook.'

hello. This is a Jupyter notebook.

In [3]:
print 'Notebooks are a way of sharing your code. But as well as allowing people to see your code, the code can be run and the output shown in the notebook itself.'

Notebooks are a way of sharing your code. But as well as allowing people to see your code, the code can be run and the output shown in the notebook itself.

In [4]:
print 'The code is showing next to each box that shows "In [] '
print 'The output of the code is shown under each box'
print 'You run the code by clicking the play button at the top'

The code is showing next to each box that shows "In []
The output of the code is shown under each box
You run the code by clicking the play button at the top

In [5]:
print 'One way to use a Jupyter notebook is to install Anaconda'

One way to use a Jupyter notebook is to install Anaconda

# Now for the markdown

You can also use Markdown

In [6]:
mylist = [1, 4, 6, 8]
for i in mylist:
    print i

1
4
6
8

In [7]:
import sqlite3
connection = sqlite3.connect("company.db")

In [9]:
sql_command = """
CREATE TABLE employee ( 
staff_number INTEGER PRIMARY KEY, 
fname VARCHAR(20), 
lname VARCHAR(30), 
gender CHAR(1), 
joining DATE,
birth_date DATE);"""

In [ ]:
#from http://www.python-course.eu/sql_python.php